<section id="main-content">
  <section class="wrapper">
    <h3><i class="fa fa-angle-right"></i>This Client Status Till Now</h3>
    <div class="row">
      <div class="col-md-12">
      </div>
      <div class="col-md-12 mt">
        <div class="content-panel">
          <div style="float:right;color:#fff;"><%= link_to 'Create new User' , new_admin_manage_user_path , :class=>"btn btn-primary",:style=>"margin-right:10px"%></div>
          
          <table class='table'>
            <thead>
          	<tr><th>Email</th><th> Role </th><th>Change permission</th></tr></thead>
          <% @user.each do |ls|%>
          	<tr>
          	<td><%= link_to ls.email,user_daily_updates_path(:id=>ls.id) %></td>
          	<td></td>
          	<td><%= check_box_tag 'Deactivate', 'Deactivate', !ls.active , :class=> 'deactivate' , :val => ls.id%><% if !ls.active %> Activate Account <%else%> Deactivate Account<%end%></td><td><%= link_to "Update user" , edit_admin_manage_user_path(ls)%></td></tr>
          <%end%>
          </table>
        </div>
      </div>
    </div>
  </section>   
</section>

<script>
  $('.deactivate').on('change', function() {
    $.ajax('/admin/deactivate', {
        type: 'get',
        dataType: 'html',
        data: {id: $(this).attr('val') },
        success: function(data, textStatus, jqXHR) {
        alert(data);
        location.reload();
        }
      });
  });
</script>