<section id="main-content">
  <section class="wrapper">
    <h3><i class="fa fa-angle-right"></i>New Record</h3>
    <div class="row">
      <div class="col-md-12">
      </div>
      <div class="col-md-12 mt">
        <div class="content-panel">
          <%= render 'form' %>
          <%= link_to 'Back', daily_updates_path %>
        </div>
      </div>
    </div>
  </section>   
</section>

 
